<!--The content below is only a placeholder and can be replaced.-->
<body>
<div id="header">
  <h1>
    {{ title }}'s Portfolio Page!
  </h1>
  <img src="../assets/images/jenes.jpg">
  <app-skills></app-skills>
  <app-contactscomponent></app-contactscomponent>
  <h2 id="city">From: West Point Ms</h2>
  <h2 id="tag">"Dare to be Different. Inspire"</h2>
  <h3>About</h3>
  <p id="me">"Allow me to introduce myself. My name is Jenes Moore. I am from West Point Mississippi.<br> I am currently seeking to attain a certification to become a full stack developer.<br> I love to seek knowledge that will help me improve my skills as a future developer".</p>
</div>
<app-contact-form></app-contact-form>
</body>